.city-list ul, .city-list li {
  width: 100%;
}

.city-list a {
  background: rgba(0, 0, 0, .4);
  padding: 1em 0;
  margin: 1em 0;
  display: block;
  width: 100%;
}

.city-list a:hover {
  background: rgba(0, 0, 0, .7);
  text-decoration: none;
}

.city-list .info {
  margin: 0 2em;
}

.city-list .name {
  font-weight: bold;
}

.city-list .temp, .city-list .wind {
  color: #bbb;
}
