/* first, resetting a few things */
body, html {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

/* common styles */
body {
  background: #226083 url('./assets/bg.jpg') 100% fixed;
  color: #fafafa;
  font-family: sans-serif;
}

.main {
  padding: 1em 0;
  margin: 0 auto;
  max-width: 600px;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.emoji {
  font-size: 1.4em;
  margin-right: 5px;
}

.loading, .error {
  font-size: 4em;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.clearfix {
  clear: both;
}

.error .emoji, .loading .emoji {
  animation: spin 1s infinite linear;
  display: block;
}

/* keyframes */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
